/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #5a5a5a;
}

#Container {
    width: 980px;
    margin: 0 auto;
    box-shadow: 0 0 1em #cccccc;
}

/* header */
header {
    padding: 20px;
}

header h1 {
    margin: 20px 10px;
    color: #b5b5b5;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

/* navigasi */
nav {
    display: block;
    background-color: #1f5faa;
}

nav a {
    padding: 15px 30px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

nav a.active,
nav a:hover {
    background-color: #2b83ea;
}

/* hero panel */
#hero {
    background-color: #e4e4e5;
    padding: 50px 20px;
    margin-bottom: 20px;
}

#hero h1 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
}

/* main content */
#wrapper {
    margin: 0;
}

#main {
    float: left;
    width: 640px;
    padding: 20px;
}

/* sidebar area */
#sidebar {
    float: left;
    width: 260px;
    padding: 20px;
}

/* widget */
.widget-box {
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.widget-box .title {
    padding: 10px 16px;
    background-color: #428bca;
    color: #fff;
}

.widget-box ul {
    list-style-type: none;
}

.widget-box li {
    border-bottom: 1px solid #eee;
}

.widget-box li a {
    padding: 10px 16px;
    color: #333;
    display: block;
    text-decoration: none;
}

.widget-box li:hover a {
    background-color: #eee;
}

.widget-box p {
    padding: 15px;
    line-height: 25px;
}

/* footer */
footer {
    clear: both;
    background-color: #1d1d1d;
    padding: 20px;
    color: #eee;
}

/* box */
.box {
    display: block;
    float: left;
    width: 33.333333%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}

.box h3 {
    margin: 15px 0;
}

.box p {
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}

box img {
    border: 0;
    vertical-align: middle;
}

.image-circle {
    border-radius: 50%;
}

.row {
    margin: 0 -10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row:after,
.row:before,
.entry:after,
.entry:before {
    content: '';
    display: table;
}

.row:after,
.entry:after {
    clear: both;
}

.divider {
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 40px 0;
}

/* entry */
.entry {
    margin: 15px 0;
}

.entry h2 {
    margin-bottom: 20px;
}

.entry p {
    line-height: 25px;
}

.entry img {
    float: left;
    border-radius: 5px;
    margin-right: 15px;
    height: 150px;
    width: 150px;
}

.entry .right-img {
    float: right;
}

/* about */

.about {
    padding: 10px;
    background-color: #5a5a5a;
}

.about img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    box-shadow: 5px 0px 50px rgb(34, 34, 35);
    margin-bottom: 15px;
}

.about h2 {
    text-align: center;
    font-size: 30px;
    padding: 5px;
    color: white;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.data .about1 {
    background-color: #5291dd;
    color: #1d1d1d;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 5px 0px 25px rgb(34, 34, 35);

}

.data hr {
    margin-bottom: 10px;
}

.data .about2 {
    background-color: #5291dd;
    color: #1d1d1d;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 5px 0px 25px rgb(34, 34, 35);
}

.data h3 {
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

.data p {
    line-height: 20px;
}

/* Kontak */

.kontak {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.kontak .data-kontak {
    padding: 50px 20px;
    margin-bottom: 20px;
}

.kontak h2 {
    text-align: center;
    margin-bottom: 20px;
}

.kontak .kontak1 input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.kontak textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.kontak hr {
    margin-bottom: 10px;
}

.kontak .btn {
    width: 100%;
    background-color: dimgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
}

.artikel {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #1f5faa;
    margin: 30px;
    height: max-content;
    color: white;
    border-radius: 20px;
    line-height: 25px;

}

.artikel h3 {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

button{
    font-family: sans-serif;
    font-size: 15px;
    background: #22a4cf;
    color: white;
    border: white 3px solid;
    border-radius: 10px;
    padding: 6px 25px;
    margin-top: 0px;
    margin-left: 0px;
    cursor: pointer;
}